$finalHeight: 500px;
$finalWidth: 3 * $finalHeight;
$scrollBarHeight: 1px;

::-webkit-scrollbar {
    width: $scrollBarHeight;
    height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
    width: $scrollBarHeight;
    height: $scrollBarHeight;
}

div {
    box-sizing: border-box;
}

.horizontal-scroll-wrapper {
    position: absolute;
    display: block;
    top: 30rem;
    left: 0;
    width: calc(#{$finalHeight} + #{$scrollBarHeight});
    max-height: $finalWidth;
    margin: 0;
    padding-top: $scrollBarHeight;
    background: #abc;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-$finalHeight);
    transform-origin: right top;

    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        //background: #cab;
        transform: rotate(90deg);
        transform-origin: right top;

        img {
            height: 400px;
            border: 20px solid #cab;
            //width: 400px;
            object-fit: cover;

        }
    }
}

.squares {
    padding: $finalHeight 0 0 0;

    & > div {
        width: $finalHeight;
        height: $finalHeight;
        margin: 10px 0;
    }
}